body {
  background-color: rgb(214, 131, 131);
}

h1 {
    color: #06194d;
  font-size: 42px;
  text-align: center;
}

h2 {
    color: #06194d;
  font-size: 24px;
  margin: 10px;
  padding: 30px 10px ;
  text-align: center;
}

p {
  color: #06194d;
  font-size: 20px;
  margin: 10px;
  padding-bottom: 50px;
  text-align: center;
}

.gameName {
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
  width: 600px;
  display: flex;
  justify-content: center;
}

.games {
  background-color: rgb(143, 96, 148);
  margin: 20px auto;
  padding: 10px 20px;
  border: solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70%;
}

.container {
  max-width: 600px;
}

.form-control {
  background-color: rgb(143, 96, 148);
  border-color: black;
  color: black;
}

.suggest {
  margin: 10px;
  padding: 10px;
}

button {
  border: 100px solid rgba(0,0,0,0,0.2);
    padding: 8px;
    width: 200px;
    margin: 20px auto;
    text-transform: uppercase;
    background-color: rgb(139, 132, 179);
    border-color: black;
    color: black;
    font-size: 16px;
    font-weight:400;
    border-radius: 5px;

}